.panel.panel-default
  .panel-heading= "Animal nr #{change_blank_to_dash(animal.id_number)}"
  .panel-body
    .panel.panel-info
      .panel-heading Données de l'animal
      .panel-body
        .row
          .col-md-1
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th N° identification:
                  %td= change_blank_to_dash(animal.id_number)
                %tr
                  %th Nom:
                  %td= change_blank_to_dash(animal.name)
                %tr
                  %th Date de naissance:
                  %td= change_blank_to_dash(animal.birth_date)
                %tr
                  %th Âge (ans):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.age), delimiter: " ", separator: ","))
                %tr
                  %th Quantité:
                  %td= change_blank_to_dash(animal.amount)
                %tr
                  %td
          .col-md-5
            %table.table
              %thead
                %tr
                  %th
              %tbody
                %tr
                  %th Sexe:
                  %td= change_blank_to_dash(animal.gender)
                %tr
                  %th Poids (kg):
                  %td= change_blank_to_dash(number_with_delimiter(trim_float(animal.weight), delimiter: " ", separator: ","))
                %tr
                  %th Espèce:
                  %td= change_blank_to_dash(animal.try(:species).try(:name))
                %tr
                  %th Description:
                  %td= change_blank_to_dash(animal.description)
                %tr
                  %td
          .col-md-1
    .panel.panel-info
      .panel-heading Données du propriétaire
      .panel-body
        .row
          .col-md-3
            = image_tag user.gravatar_url(size: 200)
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %th Prénom:
                  %td= change_blank_to_dash(animal.try(:user).try(:first_name))
                %tr
                  %th Nom:
                  %td= change_blank_to_dash(animal.try(:user).try(:last_name))
                %tr
                  %th N° sécu:
                  %td= change_blank_to_dash(animal.try(:user).try(:pesel))
                %tr
                  %th Téléphone:
                  %td= change_blank_to_dash(animal.try(:user).try(:phone_number))
                %tr
                  %th Email:
                  %td= change_blank_to_dash(animal.try(:user).try(:email))
                %tr
                  %th Adresse:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:decorate).try(:full_country_name))
          .col-md-4
            %table.table
              %thead
                %tr
                  %td
              %tbody
                %tr
                  %th Rue:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:decorate).try(:full_street))
                %tr
                  %th Code postal:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:zip_code))
                %tr
                  %th Ville:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:city))
                %tr
                  %th Arrondissement:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:borough))
                %tr
                  %th Département:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:district))
                %tr
                  %th Région:
                  %td= change_blank_to_dash(animal.try(:user).try(:address).try(:province))
          .col-md-1

    .panel.panel-info
      .panel-heading Fiche de l'animal
      .panel-body
        - if @medical_records.empty?
          Pas de fiche.
        - else
          %table.table.table-striped
            %thead
              %tr
                %th N° de la fiche
                %th Renseignements
                %th.price-row Coût des visites
                %th Vétérinaire
                %th.date-row Date
                %th

            %tbody
              - @medical_records.each do |medical_record|
                %tr
                  %td= change_blank_to_dash(medical_record.id)
                  %td= change_blank_to_dash(medical_record.anamnesis)
                  %td= change_blank_to_dash(number_to_currency(medical_record.total_cost, separator: ',', unit: 'PLN', precision: 2))
                  %td= change_blank_to_dash(medical_record.try(:veterinarian).try(:user).try(:full_name))
                  %td= change_blank_to_dash(medical_record.created_at.to_date)
                  %td
                    .pull-right
                      = link_to icon('list-alt'), user_medical_record_path(user, medical_record), title: 'Détails', class: "btn btn-default"

          .flickr_pagination
            = will_paginate @medical_records, param_name: 'medical_records_page'

    .panel.panel-info
      .panel-heading Images de l'animal
      .panel-body
        - if @pictures.empty?
          Pas d'images.
        - else
          %table.table.table-striped
            %thead
              %tr
                %th Nom
                %th Image
                %th Description

            %tbody
              - @pictures.each do |picture|
                %tr
                  %td= change_blank_to_dash(picture.name)
                  %td= link_to image_tag(picture.image, width: 100), picture.image.url
                  %td= change_blank_to_dash(picture.description)

          .flickr_pagination
            = will_paginate @pictures, param_name: 'pictures_page'

    .pull-right
      = link_to "Retour", user_animals_path(user), class: "btn btn-default"
